@import "./variables.scss";
@import "./mixins.scss";

html {
  /*font-size: 16px;*/
  font-size: 14px;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: $background-light;
}

/*font-family: 'Open Sans', sans-serif;
color: #546E7A;
font-size: 14px;
font-weight: 400;
background: #fff;
overflow-x: hidden;*/

body {
  /*font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  color: $body-dark;
}
 
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: $container-width;
  padding: 0 $container-padding;
  margin: auto;
}

.section {
  padding: $section-padding-mobile 0;

  @include respond-to("small") {
    padding: $section-padding 0;
  }
}

main {
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}
