@import "./variables.scss";
@import "./mixins.scss";

/* override existing classes */
.price-border{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.price-border-red{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.pricing-box
{
  border:1px solid #1a237e;
  padding: 10px;  
  //  margin-top:10px; 
}
 